ion-content {
  --background: var(--ion-color-light);
}

.validation-error {
  padding: 8px 16px;
  color: var(--ion-color-danger);
  font-size: 14px;
}

form {
  ion-list {
    background: transparent;
    padding: 0;
    margin-bottom: 16px;

    ion-item {
      --background: var(--ion-color-light);
      margin-bottom: 8px;
      border-radius: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.ion-padding {
  ion-button {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
} 