ion-list {
  ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;

    ion-list {
      width: 100%;
      padding: 0;
      margin: 8px 0;

      ion-item {
        --padding-start: 16px;
        --padding-end: 16px;
      }
    }
  }
}

ion-datetime {
  padding-left: 0;
  --padding-start: 0;
}

.spinner-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  --background: var(--ion-color-danger-tint);
  margin: 16px;
  border-radius: 8px;

  ion-icon {
    color: var(--ion-color-danger);
    margin-right: 8px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
} 