<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/business-owner"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Shift</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="shiftForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Start Time</ion-label>
      <ion-datetime-button datetime="start_time"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="start_time" formControlName="start_time" [showDefaultButtons]="true"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label position="floating">End Time</ion-label>
      <ion-datetime-button datetime="end_time"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="end_time" formControlName="end_time" [showDefaultButtons]="true"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hourly Rate ($)</ion-label>
      <ion-input type="number" formControlName="rate" min="0" step="0.01"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text" formControlName="location" placeholder="Enter address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dress Code</ion-label>
      <ion-input type="text" formControlName="dress_code" placeholder="Enter dress code requirements"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea formControlName="notes" placeholder="Enter any additional notes"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Requirements</ion-label>
      <ion-textarea formControlName="requirements" placeholder="Enter shift requirements"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="!shiftForm.valid">
      Update Shift
    </ion-button>
  </form>

  <div class="spinner-container" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>